{{ define "main" }}

{{ $home_paginator := .Paginate .Data.Pages }}

<main aria-role="main"> 

  <div class="content"> 
    <div class="index-content framed">
      
      <center>
        <img src="images/group.png" class="banner" />
      </center>

      <div
        class="flex flex-col space-y-8 md:space-x-20 md:flex-row md:justify-center md:space-y-0"
      >
        <a href="https://matrix.to/#/#kochifoss:matrix.org" class="social_link"
          >Matrix<br />#kochifoss:matrix.org</a
        >
        <a href="https://xmpp.link/#kochifoss@chat.disroot.org?join" class="social_link"
          >XMPP<br />kochifoss@chat.disroot.org</a
        >
        <a href="https://t.me/KochiFOSS" class="social_link">Telegram<br />@KochiFOSS</a>
      </div>


      {{ range (.Paginate $home_paginator).Pages }}
        <section class="timeline">
          <div class="container" style="text-align: left!important">
            {{ range .Pages.ByDate.Reverse  }} 
            <div class="timeline-item">
                <div class="timeline-img"></div>
    
                <div class="timeline-content js--fadeInLeft">
                    <h2><a href="{{.Permalink}}"><span class="post-title">{{.Title}}</span></a></h2>
                    <div class="date">{{ .Date.Format "Jan 2, 2006"}}</div>
                    <p>
                        {{.Params.Eventname}}<br>
                        {{.Params.Eventlocation}}
    
                    </p> 
                </div>
            </div>  
            {{ end }}   
        </div>
    </section>

        {{ end }}
    {{ partial "pagination.html" . }}
    </main>

      </div> 
    </div> 
  </div>
</main>



{{ end }}
