<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Kochi FOSS</title>
</head>

<body class="bg-gradient-to-br from-sky-200 via-white via-white to-sky-200">
    <div class="text-center pt-10 pb-32 px-4 flex-col space-y-12 justify-center">
        {{ partial "navbar" . }}
        {{ block "main" . }}{{ end }}
        {{ block "noticeboard" . }}{{end}}
        {{ partial "footer" . }}
    </div>
</body>

</html>