<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kochi FOSS | കൊച്ചി FOSS</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="text-center pt-10 pb-32 px-4 flex-col space-y-12 justify-center">
      <center>
        <img src="images/group.png" width="500px" />
      </center>
      <div
        class="flex flex-col space-y-8 md:space-x-20 md:flex-row md:justify-center md:space-y-0"
      >
        <a href="https://matrix.to/#/#kochifoss:matrix.org"
          >Matrix<br />#kochifoss:matrix.org</a
        >
        <a href="https://xmpp.link/#kochifoss@chat.disroot.org?join"
          >XMPP<br />kochifoss@chat.disroot.org</a
        >
        <a href="https://t.me/KochiFOSS">Telegram<br />@KochiFOSS</a>
      </div>
      <div class="flex justify-center">
        <div class="flex flex-col gap-y-2 bg-green-200/50 py-4 px-8 border border-green-400 rounded">
          <h2 class="font-bold text-xl">November 2024 Meetup</h2>
          <p class="flex-col space-y-4">
            <div>Host: <a class="font-bold space-y-2 text-blue-500 underline" href="https://geohack.toolforge.org/geohack.php?params=10.0554_N_76.3546_E">Kerala Startup Mission, Kochi</a></div>
            <div>10.0554N 76.3546E</div>
            <div>Time & Date: <span class="font-bold">10 AM, Saturday, 23rd November, 2024</span></div>
          </p>

          <div class="flex flex-col items-center font-bold space-y-4 text-blue-500 underline">
            <a href="https://ee.kobotoolbox.org/ZZ7WnC6D">RSVP: Submit your RSVP to attend the November 2024 Meetup!</a>
            <a href="https://ee.kobotoolbox.org/T9aWLMJb">Call For Speakers: Submit your proposal to talk at the November 2024 Meetup!</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
