<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kochi FOSS | കൊച്ചി FOSS</title>
  </head>
  <body>
    <div class="text-center pt-10 px-4 flex-col space-y-12 justify-center">
      <center>
        <img src="images/group.png" width="500px" />
      </center>
      <div
        class="flex flex-col space-y-8 md:space-x-20 md:flex-row md:justify-center md:space-y-0"
      >
        <a href="https://matrix.to/#/#kochifoss:matrix.org"
          >Matrix<br />#kochifoss:matrix.org</a
        >
        <a href="https://xmpp.link/#kochifoss@chat.disroot.org?join"
          >XMPP<br />kochifoss@chat.disroot.org</a
        >
        <a href="https://t.me/KochiFOSS">Telegram<br />@KochiFOSS</a>
      </div>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
