<div class="mt-16 text-center flex-col space-y-4">
  <div class="text-sm lg:text-lg">
    <p>കൊച്ചിഫോസ്സ് ഒത്തുചേരലിൽ ഒരു വിഷയം സംസാരിക്കാൻ ആഗ്രഹിക്കുന്നുവോ?</p>
    <p>Submit your talk proposal anytime. We will let you know if your talk is accepted for the upcoming meetup.</p>
    <p>Previously we accepted proposals per monthly talk. We're changing this to do a meetup when we have enough talks.</p>
  </div>
  <button class="inline-flex items-center bg-green-500 py-1 px-2 lg:mt-0 lg:ms-2 mt-2 rounded-lg hover:bg-green-400 justify-center whitespace-nowrap">
    <a href="/cfp" class="text-xs lg:text-sm text-white font-bold py-1 px-6">Propose a talk!</a>
  </button>
</div>
