<div class="footer">
    <div class="mx-auto flex flex-col lg:flex-row justify-center items-center space-y-8 md:space-x-20 md:space-y-0">
        <a href="https://matrix.to/#/#kochifoss:matrix.org" class="flex items-center lg:space-x-2 hover:text-green-800 text-sm lg:text-lg">
          <i class="fab fa-matrix-org text-xl"></i>
          <span>Matrix<br />#kochifoss:matrix.org</span>
        </a>
        <a href="https://xmpp.link/#kochifoss@chat.disroot.org?join" class="flex items-center lg:space-x-2 hover:text-green-800 text-sm lg:text-lg">
          <i class="fab fa-xmpp text-xl"></i>
          <span>XMPP<br />kochifoss@chat.disroot.org</span>
        </a>
        <a href="https://t.me/KochiFOSS" class="flex items-center lg:space-x-2 hover:text-green-800 text-sm lg:text-lg">
          <i class="fab fa-telegram text-xl"></i>
          <span>Telegram<br />@KochiFOSS</span>
        </a>
      </div>
</div>