<nav>
    <div class="relative flex justify-between px-2">
        <a href="/" class="text-grey font-bold text-lg">
            <img src="logo-color.svg" alt="Logo" class="w-8 h-8 md:w-12 md:h-12">
        </a>
        <div class="flex items-center justify-center">
            <div class="hidden sm:block sm:ml-6">
            </div>
        </div>
        <div class="flex items-center space-x-4 lg:me-4">
            <a href="https://x.com/KochiFOSS" target="_blank" class="text-gray-600 hover:text-blue-500">
                <i class="fab fa-twitter fa-lg"></i>
            </a>
            <a href="https://www.linkedin.com/company/kochifoss/" target="_blank" class="text-gray-600 hover:text-blue-700">
                <i class="fab fa-linkedin fa-lg"></i>
            </a>
        </div>
    </div>
</nav>