<div class="flex justify-center mt-16">
  <div class="flex flex-col gap-y-2 bg-gray-200 py-4 px-8 rounded-lg">
    <center>
      <h2 class="font-bold text-xl items-center">{{ .Params.title }}</h2>
      <div class="flex-col space-y-2 my-4">
        <div>
          Where: <a class="font-bold space-y-2 text-blue-500 underline" target="_blank" href="{{ .Params.hostLocation }}">{{
            .Params.host }}</a><br/>
        </div>
        <div>{{ .Params.hostCoords }}</div>
        <div>{{ .Params.description }}</div>
        <div>When: <span class="font-bold">{{ .Params.eventDate }}, {{ .Params.eventTime }}</span></div>
        <!-- <div>സമയത്തിനും കാലത്തിനും വരിക 😌</div> -->
      </div>
    <div class="flex flex-col items-center lg:flex-row justify-center">
      {{ if .Params.rsvpLink }}
        <button class="flex items-center bg-green-500 py-1 rounded-lg hover:bg-green-400 justify-center whitespace-nowrap">
          <a href="/rsvp" class="text-xs lg:text-sm text-white font-bold py-1 px-6">Register to attend</a>
        </button>
      {{ end }}
    </div>

    {{ if .Params.note }}
      <p class="text-sm mt-2 lg:mt-4">
        {{ .Params.note | markdownify }}
        {{ if .Params.noteLink }}
          <a class="font-bold space-y-2 text-blue-500 underline inline" style="text-decoration: none;" href={{ .Params.noteLink }}>🔗</a>
        {{ end }}
      </p>
    {{ end }}
  </div>
</div>